* {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  cursor: default !important;
  overflow: hidden !important;
}

body {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #000 !important;
  text-align: center !important;
  font-family: Arial, sans-serif !important;
}

body, #game_frame {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}

body ._eaglercraftX_canvas_element, body .loader {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}

body ._eaglercraftX_canvas_element {
  z-index: 1 !important;
}

body .loader {
  z-index: 2 !important;
  pointer-events: none !important;
  transition: 0.3s opacity ease-in-out;
}

body ._eaglercraftX_crash_element {
  text-align: left !important;
}

body:has(._eaglercraftX_crash_element)
  :not(
    ._eaglercraftX_wrapper_element,
    ._eaglercraftX_wrapper_element img:first-of-type,
    ._eaglercraftX_crash_element,
    ._eaglercraftX_crash_element *
  ) {
  display: none !important;
}